@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-4">Welcome to RPMovies</h1>
            <p class="display-6">View movies online or in theatre!</p>
            <p class="display-6">Rentals available day or night!</p>
            <p class="display-6">Theatre Showtimes:</p>
            <p style="font-size:1.5em">Sunday and Monday: 10am-3pm and 5pm-10pm</p>
            <p style="font-size:1.5em">Tuesday-Saturday: 8am-4pm and 5pm-1am</p>
        </div>
        <div class="col-sm-6">
            <img src="images/tickets.jpg" alt="tickets"/>
        </div>
    </div>
</div>
